<%= form_for(@reservation,  :remote => true) do |f| %>
<%= f.hidden_field :customer_id %>
<%= hidden_field_tag :table_id, params[:table_id] %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <span id="name_label"></span> 

  <div class="field">
    <%= f.label :num_people %><br />
    <%= f.text_field :num_people %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
