<h2>Listing reservations</h2>

<div id="side_panel">
  <label for="tags">Customers</label>
  <div id="search_box">
    <input id="tags" type="text" />
  </div>
  <div id="cust_list">
    <ul>
      <% @customers.each do |cust| %>
      <li cust_id="<%= cust.id %>" cust_value="<%= cust.name %>"><%= cust.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="container">
  <div id="date_div">
    <input type="text" id="datepicker" />
    <input type="radio" name="meal" />Breakfast
    <input type="radio" name="meal" />Lunch
    <input type="radio" name="meal" />Dinner
  </div>

  <div id="reserve_table">
    <div class="floor_heading_reserve">
      <label class="floor_label_reserve">Floor</label>
      <% floors_array = Floor.all.map { |floor| [floor.position,floor.id] } %>
      <span>
      <%= select_tag(:floor, options_for_select(floors_array)) %>
      </span>
    </div>

    <div id="floor_image_div_r">
      <%= render 'reservations' %>
    </div>


    <div id="popup_reserve" hidden>
      <%= render 'form' %>
    </div>
    
  
  </div>

  
</div>

<br />


