<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :max_people %><br />
    <%= f.number_field :max_people %>
  </div>
  <div class="field">
    <%= f.label :is_connectable %><br />
    <%= f.check_box :is_connectable %>
  </div>
  <div class="field">
    <%= f.label :is_smoking %><br />
    <%= f.check_box :is_smoking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
