<h3 class="new_h3">Unassigned Tables:</h3> 
<table id="unassigned">
  <tr class="heading">
    <th>Name</th>
    <th>Active?</th>
    <th>Seats</th>
    <th>Connectable?</th>
    <th>Smoking?</th>
    <th class="action_column_header">Edit?</th>
    <th class="action_column_header">Delete?</th>

  </tr>

<% @tables.each do |table| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" obj_id="<%= table.id %>" >
    <td><%= table.name %></td>
    <td><%= table.is_active %></td>
    <td><%= table.max_people %></td>
    <td><%= table.is_connectable %></td>
    <td><%= table.is_smoking %></td>
    <td><%= link_to 'Edit', edit_table_path(table.id) %></td>
    <td><%= link_to 'Delete', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>