<div id="header_button">
  <%= button_to '+ New Floor', new_floor_path, { :method => 'get', :class => 'create_button'} %>
  <%= button_to '+ New Table', new_table_path, { :method => 'get', :class => 'create_button'} %>
</div>

<div id="table_container">
  <%= render 'unassignedtables' %>
</div>



<div class="unassignTable">

</div>
<div id="floor_view">
  <div id="floor_heading">

    <label id="floor_label">Floor</label>
    <%= link_to image_tag("delete.jpg", :id => "delete_image") %>
    <% floors_array = Floor.all.map { |floor| [floor.position,floor.id] } %>
    <span>
      <%= select_tag(:floor, options_for_select(floors_array)) %>
    </span>
  </div>

  <div id="floor_image_div">
  <%= render 'table' %>
  </div>

</div> 

<div class="unassignTable">
  
</div>