<div id="header_button">
  <%= button_to 'New Floor', new_floor_path, { :method => 'get', :class => 'create_button'} %>
  <%= button_to 'New Table', new_table_path, { :method => 'get', :class => 'create_button'} %>
</div>

<h3>Unassigned Tables:</h3>
<table id="unassigned">
  <tr class="heading">
    <td>Name</td>
    <td>Active?</td>
    <td>Seats</td>
    <td>Connectable?</td>
    <td>Smoking?</td>
  </tr>

<% @tables.each do |table| %>
  <tr>
    <td><%= table.name %></td>
    <td><%= table.is_active %></td>
    <td><%= table.max_people %></td>
    <td><%= table.is_connectable %></td>
    <td><%= table.is_smoking %></td>
    <td><%= link_to 'Edit', edit_table_path(table.id) %></td>
    <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<ul id="floor_show">
  <li class="heading">Floor</li>
  <li>Ground Floor</li>
</ul>


<div id="floor_view">
  <div id="floor_heading">
    <label id="floor_label">Floor <label id="floor_num">1</label></label>
    <%= link_to image_tag("delete.jpg", :id => "delete_image") %>
  </div>

  <%= image_tag("floor.jpg",:id => "floor_image") %>
</div>



